<div id="home-header" class="jumbotron">
  <greeting></greeting>
</div>

<button class="btn btn-primary" ng-click="changeName()">Change</button>
<button class="btn btn-danger" ng-click="randomName()">Random</button>

<div>
  <button ng-click='increment()'>+</button>
  <button ng-click='decrement()'>-</button>
  <button ng-click='incrementIfOdd()'>Increment if odd</button>
  <button ng-click='incrementAsync(1500)'>Increment Async</button>
  <button ng-click='add(5)'>add 5</button>
  {{value}}
</div>

